@charset "utf-8";
/* CSS Document */
*{  margin:0;
	padding:0;
}
.content{
	width:100%;
	height: auto;
	margin-top: 50px;
	
	// margin-left:100px;
	// margin: 0px 10px;
	// background-color: red;
}
.content li{
	float:left;
	list-style: none;
	// background-color: #000;
}
.menu,li{
	margin-left: 100px;
	margin-right: 5px;
	
}
.beijing1{
	background-color:white;
	height: 320px;
	}
.beijing2{
	background-color:#E5E5E5;
	height: 790px;
	}
.beijing3{
	height: 760px;
}
.guanyuwomen {
	margin-left: 150px;
}

.img_box{
	border-radius:75px;
	background-color:#56555A;
	width:150px;
	height:150px;
}
.img_box:hover{
	background-color: #0979C2;
	
}
.img_box img{
	margin-top:30px;
	margin-left:30px;
	width:55%;
}

.wenzi{
	color:#56555A;
	font-size: 20px;
	margin-left: 30px;
}
a{
   text-decoration: none;
   color:#274878;
}
.rongyu,.qiyewenhuawenhua,.jianjie ,.jiagou,.dongshizhang{
	color:#274878;
	font-size:50px;
	text-align: center;
	width: 100%;
	min-width: 1200px;
	padding: 70px 0 54px;	
}
#wenhua{
	color:#274878;
	font-size:50px;
	text-align: center;
	width: 100%;
	min-width: 1200px;
	padding: 70px 0 54px;
	margin-left: 150px;
}
.qiyewenhuawenhua {
	color:#274878;
	font-size:50px;
	text-align: center;
	width: 100%;
	min-width: 1200px;
	padding: 20px 0 54px;	
}

.qiyewenhua,.left{
	display: inline-block;
	vertical-align: middle;
	margin-left: 150px;
	
}
.qiyewenhuawenhua,.right{
	display: inline-block;
	vertical-align: middle;
	width: 586px;
}
.qiyewenhuawenhua,.right ul li{
	display: inline-block;
	vertical-align: top;
	width: 254px;
	padding-left: 30px;
	background: url(../images/wenhua_list.png) no-repeat;
	background-position: left 6px;
	margin: 10px 0;
	
}
.right ul li,.big{
	color: #5d5d5d;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 6px;
	
}
.qiyewenhuawenhua,.right ul li,.sim{
	color: #5d5d5d;
	font-size: 16px;
}

.top .left{
	display: inline-block;
	vertical-align: middle;
	width: 646px;
	margin-right: 38px;
	height: 760px;
	
}
.top .left p{
	color: #515151;
	font-size: 16px;
	line-height: 30px;
}
.top .right{
	display: inline-block;
	vertical-align: middle;
}
.top .right img{
	width: 500px;
	height: 277px;
}
.bottom p{
	color: #515151;
	font-size: 16px;
	line-height: 30px;
}
.qiyerongyu li{
	float: left;
	list-style: none;
}
.rongyutu{
	margin-left: 200px;
	height: 600px;
	width: 80%;
	
}
.jiagoutu{
	margin-left: 150px;
}
.dongshizhangzhici{
	border: 1px blue;
}
.zhici{
	width: 100%;
	// min-width: 1200px;
	padding: 98px 0 102px;
	text-align: center;
	border: 1px red;
}
.zhici p{
	font-size: 50px;
}
.zc_content{
	width: 100%;
	min-width: 1200px;
	padding: 98px 0 102px;
	text-align: center;
	border: 1px green;
}
.zc_left{
	display: inline-block;
	vertical-align: middle;
	background-color: #f6f6f6;
	width: 654px;
	padding: 56px 46px;
	text-align: left;
	border: 1px gold;
}
.biaoti{
	margin-bottom: 36px;
	}
.biaoti p{
	color: #274878;
	font-size: 26px;
	font-weight: bold;
}
.zc_content .zc_left .zhici p{
	color: #515151;
	font-size: 20px;
	line-height: 30px;
}	
.zc_right{
	display: inline-block;
	vertical-align: middle;
	width: 342px;
	margin-left: -48px;
}
.zc_right img{
	width: 342px;
	height: 342px;
	border-radius: 50%;
	box-shadow: 0 0 10px 2px #c7c4c3;
}
